.contact {
    margin: 100px;
  .container {
    .formContact {
      .formm {
        .naem {
          input {
            width: 100%;
            height: 60px;
            padding: 20px;
          }
        }
        textarea {
          width: 100%;
          height: 80px;
          padding-left: 20px;
        }
      }
    }
  }
}
