.adminForm {
  position: absolute;
  top: 200px;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .inp {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    label{
        color: white;
    }
  }
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

button {
  width: 200px;
  background-color: white;
  color: black;
  border: 1px solid red;
  padding: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: red;
    color: white;
  }
}
